{
  "openapi": "3.1.1",
  "info": {
    "title": "Stable Diffusion XL Adapter API",
    "description": "Generate images using Replicate's SDXL model for industrial design visualization",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.replicate.com/v1"
    }
  ],
  "paths": {
    "/predictions": {
      "post": {
        "summary": "Generate image with Stable Diffusion XL",
        "operationId": "generateSDXLImage",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "string",
                    "description": "Model version ID for SDXL",
                    "example": "5c7c5dc52c621c70d0c825c16dfd5c623ad0bdfd8f0f71f1b09f63d0a6b1e566"
                  },
                  "input": {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "description": "Prompt describing the industrial design concept"
                      },
                      "width": {
                        "type": "integer",
                        "default": 1024
                      },
                      "height": {
                        "type": "integer",
                        "default": 1024
                      },
                      "num_inference_steps": {
                        "type": "integer",
                        "default": 40
                      },
                      "guidance_scale": {
                        "type": "number",
                        "default": 7.5
                      },
                      "negative_prompt": {
                        "type": "string",
                        "description": "Things to avoid in the image"
                      },
                      "seed": {
                        "type": "integer",
                        "description": "Optional random seed for reproducibility"
                      }
                    },
                    "required": ["prompt"]
                  }
                },
                "required": ["version", "input"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urls": {
                      "type": "object",
                      "properties": {
                        "get": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL for prediction status"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer YOUR_REPLICATE_API_TOKEN"
      }
    },
    "schemas": {}
  }
}

