{
  "openapi": "3.1.1",
  "info": {
    "title": "Replicate Stable Diffusion XL API",
    "description": "Generate concept images using Stable Diffusion XL via Replicate",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.replicate.com/v1" }
  ],
  "paths": {
    "/predictions": {
      "post": {
        "summary": "Generate image with Stable Diffusion XL",
        "operationId": "generateSDXLImage",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "string",
                    "description": "Model version ID for SDXL",
                    "example": "e6d7b52a2d68d6e6a0ad50cddf0c6a43cbf2163e1a4a6e77d6f5b8d98c4b6c02"
                  },
                  "input": {
                    "type": "object",
                    "properties": {
                      "prompt": { "type": "string", "description": "Text prompt" },
                      "width": { "type": "integer", "default": 1024 },
                      "height": { "type": "integer", "default": 1024 },
                      "negative_prompt": { "type": "string" }
                    },
                    "required": ["prompt"]
                  }
                },
                "required": ["version", "input"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "array",
                      "items": { "type": "string", "format": "uri" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}

